@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #1b2029;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
}

main {
    width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: #8880fe;
    font-size: 3rem;

    margin-bottom: 2rem;
}
.social-media {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.social-media img {
    width: 3.438rem;
    padding: 0.625rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
}

.social-media a:first-child img {
    margin-left: 0;
}

main .alternative span {
 font-size: 1.1rem;
 font-weight: 400;
 color: rgba(255, 255, 255, 0.3);
 position: relative;
}
main .alternative span::before, main .alternative span::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 110px;
    bottom: 50%;
    right: 50px;
    background-color: rgba(255, 255, 255, 0.3);
}
main .alternative span::after{
    left: 50px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}
main form label {
    display: flex;
    flex-direction: column;
}
main form label span {
    font-size: 1.125rem;
    margin-top: 1.3rem;
    margin-bottom: 0.3rem;
}

main form label input {
    background: #161923;
    color: rgba(166, 166, 166);
    outline: none;
    width: 18.75rem;
    height: 2.5rem;
    padding: 0 1rem;
    border: 1px solid #040b18;
    border-radius: 0.375rem;
}
main form input[type="submit"]{
    margin-top: 3rem;
    height: 2.5rem;
    width: 50%;
    border-radius: 2.25rem;
    cursor: pointer;
    background-color: #8880fe;
    color: white;
    border: none;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover{
    background-color: #5952d4;
}

.images {
    display: flex;
    align-items: flex-end;
    padding: 6.5rem;
}

.images img {
    width: 90%;
}

.images .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #e8cbc0, #636fa4);
    clip-path: circle(45% at right 100%);
    z-index: -1;
}


@media (max-width: 1100px){
    main {
        width: 100vw;
    }
    .title{
        font-size: 1.9rem;
        margin-bottom: 1.2rem;
    }
    .social-media img {
        width: 3.125rem;
        padding: 0.625rem;
        margin-left: 2rem;
        margin-bottom: 1.7rem;
    }
    main .alternative span {
        font-size: 0.9rem;
       }
       main .alternative span::before, main .alternative span::after{
           width: 100px;
       }

    main form label span {
        font-size: 1rem;
        margin-top: 1.3rem;
        margin-bottom: 0.3rem;
    }
    .images{
        padding: 0;
    }

    .images img {
        display: none;
    }
}

@media (max-width: 880px){
    main {
        width: 100vw;
    }
    .images {
        display: none;
    }
}